# Xcode
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Build
build/
*.o
*.d

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
